[project]
	description = Testing Gerrit integration_2
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vijetharalaguppi
[access "refs/for/refs/*"]
	read = group user/vijetharalaguppi
	push = group user/vijetharalaguppi
	label-Code-Review = -2..+2 group user/vijetharalaguppi
	label-Verified = -1..+1 group user/vijetharalaguppi
	rebase = group user/vijetharalaguppi
	removeReviewer = group user/vijetharalaguppi
	submit = group user/vijetharalaguppi
[access "refs/heads/*"]
	read = group user/vijetharalaguppi
	create = group user/vijetharalaguppi
	push = +force group user/vijetharalaguppi
	pushMerge = group user/vijetharalaguppi
[access "refs/tags/*"]
	push = group user/vijetharalaguppi
	push = +force group user/vijetharalaguppi
